#modal-latinoamerica.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .row
      .span5
        =image_tag "America-del-sur.jpg", :class => "imagen-latam"
      .span5.right
        .page-header
          %h2 Upcoming events
        %ul
          - @latam.each do |event|
            %li
              .row
                .span6
                  %h3
                    =event["venue"]["city"]
                    =","
                    =event['venue']['country'] 
                .span6
                  .row
                    .span3
                      %p
                        = Time.at(event["time"]/1000).strftime("%a %d %B %H:%M")
                    .span3
                      =link_to "Read More", event["event_url"], :class => "btn btn-success derecha", :target => "_blank"


#modal-africa.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .row
      .span5
        =image_tag "Africa.jpg", :class => "imagen-latam"
      .span5.right
        .page-header
          %h2 Upcoming events
        %ul


#modal-america-central.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .row
      .span5
        =image_tag "America-Central.jpg", :class => "imagen-latam"
      .span5.right
        .page-header
          %h2 Upcoming events
        %ul

#modal-america-norte.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .row
      .span5
        =image_tag "America-del-norte.jpg", :class => "imagen-latam"
      .span5.right
        .page-header
          %h2 Upcoming events
        %ul
          %li

#modal-europa.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .row
      .span5
        =image_tag "Europa.jpg", :class => "imagen-latam"
      .span5.right
        .page-header
          %h2 Upcoming events
        %ul
          - @europa.each do |event|
            %li
              .row
                .span6
                  %h3
                    =event["venue"]["city"]
                    =","
                    =event['venue']['country'] 
                .span6
                  .row
                    .span3
                      %p
                        = Time.at(event["time"]/1000).strftime("%a %d %B %H:%M")
                    .span3
                      =link_to "Read More", event["event_url"], :class => "btn btn-success derecha", :target => "_blank"


#modal-oceania.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .row
      .span5
        =image_tag "Oceania.jpg", :class => "imagen-latam"
      .span5.right
        .page-header
          %h2 Upcoming events
        %ul

#modal-asia.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .row
      .span5
        =image_tag "Asia.jpg", :class => "imagen-latam"
      .span5.right
        .page-header
          %h2 Upcoming events
        %ul
          - @asia.each do |event|
            %li
              .row
                .span6
                  %h3
                    =event["venue"]["city"]
                    =","
                    =event['venue']['country'] 
                .span6
                  .row
                    .span3
                      %p
                        = Time.at(event["time"]/1000).strftime("%a %d %B %H:%M")
                    .span3
                      =link_to "Read More", event["event_url"], :class => "btn btn-success derecha", :target => "_blank"
