
#modal-latinoamerica.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    =image_tag "America-del-sur.jpg", :class => "imagen-latam"


#modal-africa.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    =image_tag "Africa.jpg", :class => "imagen-latam"


#modal-america-central.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    =image_tag "America-Central.jpg", :class => "imagen-latam"

#modal-america-norte.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    =image_tag "America-del-norte.jpg", :class => "imagen-latam"

#modal-europa.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    =image_tag "Europa.jpg", :class => "imagen-latam"

#modal-oceania.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    =image_tag "Oceania.jpg", :class => "imagen-latam"

#modal-asia.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    =image_tag "Asia.jpg", :class => "imagen-latam"




.container
  #map
    #latinamerica
    #america-central
    #america-norte
    #africa
    #oceania
    #europa
    #asia

%ul
  - @response.each do |event|
    %li
      .row
        .span12
          =event["id"] 
        .span12
          = Time.at(event["time"]/1000).strftime("%a %d %B %H:%M")
        .span12
          %h3
            = event['name']
        .span3
          %h4 
            Attendes (
            =event['yes_rsvp_count']
            ="/"
            =event['rsvp_limit']
            )
        .span5
          .row
            .span4
              =event["venue"]["name"]
            .span4
              =event["venue"]["city"]
            .span4
              =event["venue"]["country"]
            .span4
              =event["venue"]["address_1"]
        .span3 
          =link_to "More information", event["event_url"], :class => "btn btn-success"

