/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

body{
  background-color: #009EE0 !important;
}

#map{
  margin-top: -15px;
  background-image:url(map.png);
  width:960px;
  height: 768px;
}

#latinamerica{
  width: 120px;
  height: 210px;
  border: 1px solid black;
  position: absolute;
  margin-top: 480px;
  margin-left:160px;
}

#latinamerica:hover{
  cursor: pointer;
}

#america-central{
  width: 120px;
  height: 30px;
  border:1px solid green;
  position: absolute;
  margin-top: 450px;
  margin-left: 160px;
}

#america-norte{
  position: absolute;
  border:1px solid blue;
  width: 320px;
  height: 250px;
  margin-top:200px;
}

#africa{
  position: absolute;
  border: 1px solid red;
  width: 210px;
  height: 160px;
  margin-top: 435px;
  margin-left:325px;
}

#oceania{
  position: absolute;
  border: 1px solid orange;
  width: 160px;
  height: 165px;
  margin-top: 520px;
  margin-left: 780px;
}

#europa{
  position: absolute;
  border:1px solid white;
  width:300px;
  height: 70px;
  margin-top:360px;
  margin-left: 470px;
}

#asia{
  position: absolute;
}