/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

body{
  background-color: #009EE0 !important;
}

#map{
  margin-top: -15px;
  background-image:url(map.png);
  width:960px;
  height: 768px;
}

#latinamerica{
  width: 120px;
  height: 210px;
  position: absolute;
  margin-top: 480px;
  margin-left:160px;
}

#latinamerica:hover{
  cursor: pointer;
  background-image: url(maphover.png);
  width: 120px;
  height: 207px;
  background-position: -84px -491px;
}

#america-central{
  width: 120px;
  height: 30px;
  position: absolute;
  margin-top: 450px;
  margin-left: 160px;
  z-index:2;
}

#america-central:hover{
  cursor: pointer;
  background-image: url(maphover.png);
  width: 87px;
  height: 30px;
  background-position: -75px -372px;
}

#america-norte{
  position: absolute;
  width: 357px;
  height: 250px;
  margin-top:215px;
}

#america-norte:hover{
  background-image: url(maphover.png);
  background-position: -14px -52px;
  cursor: pointer;
}

#africa{
  position: absolute;
  width: 215px;
  height: 202px;
  margin-top: 395px;
  margin-left: 325px;
}

#africa:hover{
  background-position: -261px -327px;
  background-image: url(maphover.png);
  cursor:pointer;
}

#oceania{
  position: absolute;
  width: 160px;
  height: 165px;
  margin-left: 780px;
  margin-top: 520px;
  
}

#oceania:hover{
  background-position: 265px -242px;
  background-image: url(maphover.png);
  cursor: pointer;
}

#europa{
  position: absolute;
  width:360px;
  height: 269px;
  margin-top:280px;
  margin-left: 462px;
  
}

#europa:hover{
  background-position: 432px 318px;
  background-image: url(maphover.png);
  cursor: pointer;
}

#asia{
  position: absolute;
  height: 130px;
  width: 450px;
  margin-top: 230px;
  margin-left:400px;
}

#asia:hover{
  background-position: 498px -60px;
  cursor: pointer;
  background-image: url(maphover.png);
}
