.modal
  top: 1%
  left: 35%
  width: 960px
  background-color: #009EE0 !important

.imagen-latam
  transform: scale(0.6)
  margin-top: -10px

.modal-body
  overflow-y: hidden
  max-height: 450px
  background-color: #009EE0
  width: 96.9%

.modal-header
  border-bottom: 0