!!! 5
%html
  %head
    %title New SUPBOARD
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          =link_to 'New SUPBOAT', root_path, :class => "brand"
          %ul.nav.pull-right
            %li
              =link_to "More information", "#"
    .container
      = yield
